* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root {
  --swiper-theme-color: #75ad35;
  --main: #d95113;
  --text: #fff;
  --bianco: #fbfbfb;
  --black: #1e1e1e;
}

.fullpage-wrapper {
  height: 100%;
  position: relative;
  touch-action: none;
  transform: translate3d(0px, -1452px, 0px);
  transition: all 1000ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
  z-index: 2;
}


.circle{
  background-color: var(--bianco);
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 0;
  border-radius: 50%;
}

.s2 .circle{
  background-color: var(--main);
}


/* 
#menu {
  position: fixed;
  display: block;
  width: 100%;
  height: 5vh;
  margin: 0;
  z-index: 99;
  background-color: var(--main);
  background-color: transparent;
}

#menu img {
  padding: 0 8rem;
  width: 150px; 
}*/

.grid-container, .grid-esperienze {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-content: center;
  padding: 2rem 8rem;
  height: 100vh;
}


.grid-esperienze{display: grid;}

.grid-connect {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 2rem 8rem;
  height: 100vh;
}

section,
.s1,
.s2,
.s3,
.s4,
.s5 {
  width: 100%;
}
.s1,
.s3,
.s5 {
  background-color: var(--main);
}
.s2,
.s3 {
  background-color: #fbfbfb;
}
.s1,
.s3,
.s5 {
  background-color: var(--main);
}
.s2,
.s4 {
  background-color: #fbfbfb;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.phone-container {
  justify-content: center;
  display: flex;
  width: auto;
  align-items: center;
}

.phone{
  z-index: 2;
}
.phone img {
  display: block;
}

.description {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-self: center;
  padding: 0 0 0 50px;
}
/* prima slide */

.section h2 {
  font-size: 59px;
  color: #fff;
}
section .titles p {
  padding-top: 55px;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}


.users{
padding: 280px 0 0 50px;
}

.users h3{
  font-size: 35px;
  letter-spacing: 1px;
  color: #fbfbfb;
  padding-bottom: 30px;
}
.users i{
  font-size: 24px;
}

.description ul {
  position: relative;
  padding-left: 5%;
}
.description li {
  position: relative;
  font-size: 24px;
  list-style: none;
}


  .users li {
  padding: 8px;
}

/* Seconda slide */

.list {
  position: relative;
}

.list ul {
  padding: 15px 0 0 25px;
  position: relative;
}

.list ul li {
  font-weight: 600;
  position: relative;
  left: 0;
  color: var(--black);
  list-style: none;
  margin: 15px 0;
  border-left: 3px solid var(--main);
  transition: 0.5s;
  cursor: pointer;
}

.list ul li::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--main);
  transform: scaleX(0);
  transition: 0.5s;
  transform-origin: left;
  border-radius: 0 50px 50px 0;
}

.list ul li:hover::before {
  transform: scaleX(1);
}

.list ul li:hover {
  left: 10px;
}

.list ul li span {
  position: relative;
  padding: 14px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.list ul li span:hover {
  color: var(--bianco);
}

.no-phone-view{
  display: block;
}

.phone-view{
  display: none;
}

.s2 h2 {
  color: var(--black);

}
.s2 .titles p {
  color: var(--black);
}
.s2 h3 {
  color: var(--black);
  font-size:35px;
}

/* terza slide */

.grid-ciceroni {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 2rem 8rem;
  height: 100vh;
}

.cicerone-slide {
  width: 260px;
  height: 560px;
  border-radius: 20px;
}

.swiper-container {
  position:relative;
  width: 100%;
  height: 100%;
}

/* giusto */
.phone-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* left: 225px; */
  bottom: 75px;
  z-index: 999;
  pointer-events: none;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  z-index: 0;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10%;
  left: 0;
  width: 100%;
}

/* quarta slide */

.s4 {
  background-color: #fbfbfb;
}

.s4 .titles h2 {
  color: var(--black);
}

.s4 .titles p {
  color: var(--black);
}


.tooltip{
  background-color: var(--main);
  width: 230px;
  height: auto;
  /* bottom: 150px; */
  /* left: 20px; */
  display: none;
  position: absolute;
  border-radius: 4px;
  padding: 5px;
  transition: 1s;
  z-index: 10;
}
.tooltip h5{
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  color: var(--bianco);
}

.top-left{
  position: absolute;
  
}

.tooltip h6{
  padding: 5px 0;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  color: var(--bianco);
}
.stars{
  padding: 5px 0;
  display: inline;
}
i{
  color: var(--bianco);
  padding: 2px;  
  font-size: 10px;
}

.connections1:hover .tooltip{
  display: block;
}
.connections2:hover .tooltip{
  display: block;
}
.connections3:hover .tooltip{
  display: block;
}
.connections4:hover .tooltip{
  display: block;
}
.connections5:hover .tooltip{
  display: block;
  transition: linear 2s;
}

/* old-lady */
.connections1 {
  animation: linear up;
  position: absolute;
  top: 35%;
  left:   6%;
}

/* old-man */
.connections2 {
  position: absolute;
  top: 22%;
  left: 36%;
}

/* girl */
.connections3 {
  position: absolute;
  top: 57%;
  left: 40%;
}

/* other-girl */
.connections4 {
  position: absolute;
  top: 70%;
  left: 11%;
}

.connections4:hover .tooltip {
  display: block;
  transition: linear 2s;
  position: absolute;
  /* bottom: 120px;
  left: 40px; */
}

/* dude */
.connections5 {
  position: absolute;
  top: 50%;
  left: 26%;
}

.connections5:hover .tooltip {
  display: block;
  transition: linear 2s;
  position: absolute;
  /* bottom: 120px;
  left: 40px; */
}


/* quinta slide */

.s5 .circle{
  width: 500px;
  height: 500px;
}
.s5 .phone{
  width: 450px;
}

.buttons {
  padding-top: 50px;
}

.btn{
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  padding: 10px 20px;
  background-color: var(--bianco);
  color: var(--main);
  font-weight: 700;
  border-radius: 25px;
  border-style: none;
  margin-right: 25px;
  transition: 0.4s;
  display: inline-block;
  margin-bottom: 15px;
}

.btn i{
  color: var(--main);
  font-size: 20px;
  padding-right: 10px;
}

.btn:hover{
  background-color: #75ad35;
  color: var(--bianco);
}
.btn>i:hover{
  color: var(--bianco);
}


.animate__shakeY {
  display: inline-block;
  margin: 0 0.5rem;
  animation: shakeY; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 45s !important; /* don't forget to set a duration! */
}

.animate__shakeY1 {
  display: inline-block;
  margin: 0 0.5rem;
  animation: shakeY; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 42s !important; /* don't forget to set a duration! */
}

.animate__shakeY2 {
  display: inline-block;
  margin: 0 0.5rem;
  animation: shakeY; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 40s !important; /* don't forget to set a duration! */
}


/* MEDIA */

@media screen and (max-width: 1200px) {
    .s3 .description {
      display: none;
      padding: 0 0 0 50px;
    }
    .section h2 {
      font-size: 40px;
    }
    section .titles p {
      font-size: 20px;
    }
    .connections1,
    .connections2,
    .connections3,
    .connections4,
    .connections5 {
      width: 80px;
      height: auto;
    }
    .grid-container,  .grid-ciceroni, .grid-connect, .grid-esperienze {
      padding: 2rem 3rem;
    }
  
    .grid-esperienze .description{
      padding: 0;
    }
  
    .grid-esperienze .description h3{
    padding-left: 30px;
    padding-bottom: 0;
  }
    .description {
      padding-bottom: 50px;
    }
    .description h3 {
      font-size: 30px;
      padding-bottom: 30px;
    }
  
    .description li {
      font-size: 20px;
    }
  }

  /* giusto */
@media screen and (min-width: 1024px) and (max-width:1500px){
  .phone-absolute{
    width: 225px;
  }
  .cicerone-slide{
    width: 200px;
    height: auto;
  }
}



@media screen and (max-width: 1024px) {
  
  .s3 .titles p {
    width: 100%;
}

.s5 .circle{
  width: 300px;
  height: 300px;
}

  .phone {
    width: 250px;  
  }
  .no-phone-view{
    display: none;
  }
  .no-phone-view{
    display: block;
  }
  .grid-container, .grid-ciceroni, .grid-connect, .grid-esperienze{
    display: flex;    
    flex-direction: column;
  }
  .grid-connect{
    flex-direction: column-reverse;
    height: auto;
  }
  
  .grid-esperienze .list ul, h2{
    padding: 0;
  }
  .facile-intuitivo .phone{
    width: 300px;
    display: none;
  }

  section .titles p {
    padding: 20px 0 
  }

  .phone-container{
    margin: 1.5rem 0;
  }
  .users{
    padding: 20px;
    align-self: flex-end;
  }


  .connections2{
    top: 46%;
    left: 50%;
  }

  .connections3{
    top: 76%;
    left: 60%;
  }

  .connections5{
    top: 58%;
    left: 30%;
  }
}


@media screen and (max-width:800px){
  .s1 {height: 100vh!important;}  
  .s2 {height: 100vh!important;}  
  .s3 {height: 100vh!important;}  
  .s4 {height: 100vh!important;}  
  .s5 {height: 100vh!important;}
  
  .phone-absolute{
    width: 225px;
  }
  .cicerone-slide{
    width: 200px;
    height: auto;
  }
}





@media screen and (max-width:768px) {
 
  
  .connections2{
    top: 46%;
    left: 60%;
  }

  .connections3{
    top: 76%;
    left: 60%;
  }

  .connections5{
    top: 58%;
    left: 35%;
  }
}

@media screen and (max-width: 767px){
  .section h2 {
    font-size: 28px;
  }

  .hide-mobile{
    display: none;
  }

  .users{ 
    margin-top: -10px;
    padding: 0;
    align-self: center;
    text-align: center;
  }
  .users li{
    padding: 5px 0;
  }
  .users h3{
    padding-bottom: 10px;    
  }
  .phone{
    width: 150px;
  }
  .circle{
    width: 260px;
    height: 260px;
  }

  .no-phone-view{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .no-phone-view li{
    width: 48%;
    font-size: 14px;
  }
  .grid-esperienze .description h3{
    padding: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  h2, h3{
    font-size :25px;
  }

  .connections3{
    left: 44%;
  }
 

  .connections2{
    left: 50%;
    top: 52%;
  }
  .connections5{
    display: none;
  }

  .s2 .description{
    padding: 0;
  }
  .description.list h3{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .s5 .phone{
    width: 200px;
  }
  .s5 .circle{
    width: 225px;
    height: 225px;
  }
}

@media screen and (max-width: 400px) {
  
  .phone{
    width: 150px;
    height: auto;
  }
  .circle{
    width: 170px;
    height: 170px;
  }
  .grid-connect{
    padding: 2rem 3rem
    }
    .buttons{
      padding: 0;
      
    }
    .buttons img{
      width: 125px;
    }
  }
